# .gitignore file #

# Demo files
/demo
/src/main/java/demo/other

# Basic Settings & IDE
/.idea
/idea
.idea
.idea/vcs.xml
.idea/workspace.xml

/eclipse
.eclipse
.project
.metadata
/metadata

*.classpath
.classpath

/settings
/.settings
.settings

# Logging
/log
/logs
*.log
*.logs
*.lck

# Output/Gradle & Generated
/build
/out

# Demo & Output from framework
/public
/output
resources/output
src/main/resources/output
/src/main/java/com/webscraper/demo/other

/.gradle
/gradle
gradlew
.gradlew
/gradlew

gradlew.bat
*.bat

/bin
/SHJLogs
SHJLogs/

# Other project files
*.iml
*.ipr
*.swp
*.iws

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Compiled & class file
*.class
*.cxx
